auto-save
auto-save-list
backups
eln-cache
elpa
elpaca
eshell
tree-sitter
flycheck_init.el
fontaine-latest-state.eld
history
projectile-bookmarks.eld
transient
undo-tree-history/*
.cache/*
bookmarks
games/*
nov-places
projects
request/*
tramp
url/*
last-theme
last-font
undo-fu-session/*
places
*.DS_Store
.org-id-locations
custom.el
notes